/* CSS pertaining to the list of images to choose from */



/* PC SCREENS */
@media only screen and (min-width: 1300px) {

  /* Sets up the list of images as a whole*/
  .photogrid {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5%;
    row-gap: 7px;
    min-width: 1280px;
  }

  /* Sets up the visuals of a non selected image */
  .thumbnails {
    width: 24.625%;
  }

  /* Sets up the visuals of a selected image */
  .border {
    border: solid 4px rgb(255, 196, 0);
    width: 24.625%;
  }

}


/* TABLETS */
@media only screen and (max-width: 1299px) {

  /* Sets up the list of images as a whole*/
  .photogrid {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1%;
    row-gap: 7px;
    min-width: 325px;
  }

  /* Sets up the visuals of a non selected image */
  .thumbnails {
    width: 32%;
  }

  /* Sets up the visuals of a selected image */
  .border {
    border: solid 4px rgb(255, 196, 0);
    width: 32%;
  }

}


/* MOBILE PHONES */
@media only screen and (max-width: 650px) {

  /* Sets up the list of images as a whole*/
  .photogrid {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1%;
    row-gap: 5px;
    min-width: 325px;
  }

  /* Sets up the visuals of a non selected image */
  .thumbnails {
    width: 49%;
  }

  /* Sets up the visuals of a selected image */
  .border {
    border: solid 4px rgb(255, 196, 0);
    width: 49%;
  }
}